.unauthorized-error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121212;
    color: #ff7f00;
    font-family: 'Orbitron', sans-serif;
}

.unauth {
    font-size: 3em;
    margin-bottom: 20px;
    animation: flashingText 1s infinite alternate;

}

.permission {
    font-size: 1.5em;
    text-align: center;
}

@keyframes flashingText {
    0%, 100% {
        color: red;
    }

    50% {
        color: #0720a8;
    }
}
